* {
  margin: 0;
}

header {
  background: #4f88ef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
}

.logo {
  margin: 0 0 0 20px;
  font-family: Bello;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #ffffff;
}


.menu-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: Helvetica;
  font-weight: 200;
  background: #4f88ef;

}

.menu-button {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    margin-right: 16px;
}

ul {
  color: white;
  font-size: 24px;
  line-height: 24px;
  list-style: none;
  text-align: center;
}

li {
  margin-bottom: 20px;
}

li:hover {
  text-decoration: underline;
}

body {
}
