:root {
  --header-height: 50px;
}

* {
  margin: 0;
}

header {
  position: fixed;
  background: #4f88ef;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-family: Bello;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: Helvetica;
  font-weight: 200;
  background: #4f88ef;
  padding-bottom: 30px;
  height: 100vh;
}

.menu-button {
  padding: 20px;
}

.menu-button:hover {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  line-height: 24px;
  list-style: none;
  text-align: center;
  padding: 0;
  height: 100%;
}

li {
  margin-top: var(--header-height);
  padding: 10px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: #1166a5;
}

a:active {
  text-decoration: underline;
  color: white;
}

/* .timesheets {
    padding: 18px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Proxima Nova;
    color: grey;
}

.timesheets-newentry {
    background-color:#37B047;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: none;
} */
